footer{
    height: 10vh;
    background-color: black;
    position: relative;
    .wpp{
        height: 50px;
        width: 50px;
        position: fixed;
        left: 90%;
        bottom: 2%;
    }
}