@import "../utilidades/mixin";
.main-faq{
  @include main( url(../galeria/chicos-fyq.jpg))
}

    .main-faq{
        @include main-responsive
    }
    .section-acordion{
        margin: 10%;
        height: 100vh;
    }
.acordiones{
    
    .collapsed{
        height: 80px;
        box-shadow: 5px 5px 5px black;
        margin-bottom: 5%;
        border-radius: 10px !important;
        background-color:  rgba(189, 180, 180, 0.575);
    }
    .items{
        border-radius: 10%;
        margin: 1%;
        background-color: $color-background;
        border-color: $color-background;
    }
}
@media screen and (min-width:768px){
.section.acordion{
    display: flex;
    flex-direction: row;
     
    }
   
}
