@import "../utilidades/variables";
@import "../utilidades/extend";
.main-index{
    height: 40vh;
    font-style: italic;
    padding: 5%;
    text-align: center;
    color: whitesmoke;
    background-image: url(../galeria/nenaestudia.jpg);
    background-size: cover;
    h3{
        font-style: italic;
        font-size: 15px;
        font-weight: 100;
    }
   
    a{
        border: solid;
        border-radius: 10px;
        padding: 5px;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.054);
        color: whitesmoke;
    }
    a:hover{
        border-color: white;
        @extend %hover-btn;
    }
   
    .boton-index{
        margin-top: 40px;
        a{
            margin-top: 20px;
        }
    }
}
.section-cursos{
    height: 60vh;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color:$color-secundario;
    font-family: 'Poppins' italic'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ;
      .texto-cursos{
          color: antiquewhite;
          padding-top: 1%;
          text-align: center;
          font-weight: 400;
          font-size: medium;
       p{
          color: antiquewhite;
          font-size: smaller;
          text-align: center;
          font-weight: 300;
       }
       a{
          font-size:80%;
          padding: 1%;
          border-radius: 30px;
          color: antiquewhite;
          text-decoration: none;
          border-color: rgb(255, 255, 255);
          border-style: solid; 
      }
      a:hover{
        background-color: aliceblue;
        color: black;
      }
  }
          img{
            padding-top: 5%;
              height: 50vh;
              width: 100%;
          }
       }

.escrito{
    padding: 5%;

  .escrito-uno, .escrito-dos, .escrito-tres{
      font-style: italic;
      img{
          height: 60% ;
          width: 60% ;
          padding-left: 35%; 
      }
  }
}
.errores-titulo{
  height: 5vh;
  color: white;
  background-image: url(../galeria/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  h2{
  font-size: 20px;
  text-decoration: overline;
  text-align: center;
  padding: 3%;
  }  
}
.grid{
  padding: 15px;
  height: 100vh;
  color: white;
  background-image: url(../galeria/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  .reloj, .sorpresa, .dinero{
      padding-top: 5%;
      font-size: 15px;
      font-weight: 200;
      img{
          padding-right: 7%;
          height: 120px;
          width: 140px;
      }
  }
  h2{
      padding-top: 5%;
      font-size: 14px;
  }
  p{
      font-size: 12px;
  }
}
@media screen and (max-width:768px){
  
.grid{
    overflow: auto;
    .reloj, .sorpresa, .dinero{
        padding-top: 5%;
        font-size: 15px;
        font-weight: 200;
        text-align: center;
        img{
            padding-right: 5%;
            height: 120px;
            width: 140px;
        }
    }   
}
}

@media screen and (min-width:768px){
    .main-index{
       
    a:hover{
        font-size: 20px;
            }
    }
.errores-titulo{
    h2{
        font-size: 30px;
    }
}
    .grid{
        height: 60vh;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: center;
        gap: 5%;
        h2{
            padding-top: 5%;
            font-size: 20px;
        }
    .reloj, .sorpresa, .dinero{
        padding-top: 10%;
        font-size: 20px;
        font-weight: 200;
        img{
            height: 170px;
            width: 180px;
        }
    }
    }
    .section-cursos{
        height: 40vh;
        display: flex;
        flex-direction: column (50%, 50%);
        justify-content: space-between;
        
        
        .texto-cursos{
            width: 50vh;
            height: 60vh;
            padding-top: 10%;
            padding-left: 10%;
        }
        img{
            padding: 0%;
            height: 40vh;
            width: 70vh;
        }
    }
}
@media screen and (min-width:1024px){
    .main-index{
        a:hover{
            font-size: 30px;
        }
    }
    .section-cursos{
        height: 60vh;
        display: flex;
        flex-direction: column (50%, 50%);
        justify-content: space-between;
        
        .texto-cursos{
            width: 100vh;
            font-size: 20px;
            padding-left: 5%;
            a{
                font-size:15px;
                padding: 10px;
            }
        }
        img{
            width: 100vh;
            height: 60vh;
            padding-top: 0%;
        }
        
       }
    
    .main-index{
        height:90vh;
        h1{
            padding-top: 10%;
            font-size: 80px;
            font-weight: 300;
            font-family: 'Poppins' sans-serif;
        }
        h3{
            font-size: 30px;
        }
    }
   .boton-index{
    padding: 100px;
    font-size: 30px;
    border-radius: 100px;
   }    
    .grid{
        height: 60vh;
        gap: 3%;
        p{
            margin-left: 20px;
           }
           .reloj, .sorpresa, .dinero{
            img{
                margin-left: 60px;
                height: 190px;
                width: 220px;
            }
        }
        h2{
            margin-left: 20px;
            padding-top: 5%;
            font-size: 25px;
            font-weight: 400;
        }
    }
    .img-comienzos-g{
        display: inline-block;
        height: 300px;
        width: 400px;
        margin-left: 20px;
    }
    .escrito{
        h3{
            font-style: italic;
            font-size: 40px;
        }
        .escrito-uno, .escrito-dos, .escrito-tres{
            display: grid;
            align-items: center;
            grid-template-columns: 2fr 1fr ;
            img{
                height: 80% ;
                width: 110% ;
            }
        }
    }
}

   
  
